@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Koulen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-surface;
        @apply text-base;
        @apply text-textColor;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

h1 {
    @apply text-2xl font-bold tracking-wider md:text-4xl ;
    font-family: 'Koulen', sans-serif;
}

h2 {
    @apply text-xl font-bold tracking-wider md:text-2xl;
    font-family: 'Koulen', sans-serif;
}

h3 {
    @apply text-lg font-bold tracking-wider md:text-xl;
    font-family: 'Koulen', sans-serif;
}

h4 {
    @apply text-base font-bold tracking-wider md:text-lg;
    font-family: 'Koulen', sans-serif;
}

h5 {
    @apply font-semibold tracking-wider;
    font-family: 'Koulen', sans-serif;
}

a {
    @apply cursor-pointer;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 90%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #E27022;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}
